/* 쉑쉑PJ 메인페이지 css - main.css */
@import url(./common.css);
@import url(./reset.css);
@import url(./core.css);

/* 배너 영역 */
.cont1{
    width: 100vw;
    height: 650px;
    position: absolute;
}

/* 배너영역 플렉스 박스 */
div.banner-flexbx{
    display: flex;
}
/* 배너 div 개별 박스 */
div.banner-flexbx>div{
    height: 650px;
}
/* 배너 div 개별 박스 배경이미지, 크기,위치 설정*/
div.banner-flexbx>div:nth-of-type(1){
    background: url(../images/shakeshack/main/ban1.jpg) no-repeat center/cover;
    width: 100vw;
    position: absolute;
    left: 0;
}
div.banner-flexbx>div:nth-of-type(2){
    background: url(../images/shakeshack/main/ban2.jpg) no-repeat center/cover;
    width: 100vw;
    position: absolute;
    left: 100%;
}
div.banner-flexbx>div:nth-of-type(3){
    background: url(../images/shakeshack/main/ban3.jpg) no-repeat center/cover;
    width: 100vw;
    position: absolute;
    left: 200%;
}
div.banner-flexbx>div:nth-of-type(4){
    background: url(../images/shakeshack/main/ban4.jpg) no-repeat center/cover;
    width: 100vw;
    position: absolute;
    left: 300%;
}

/* 배너 내부 txt 박스 */
.ban-txt-bx {
    width: 45vw;
    position: absolute;
    left: 15%;
    top: 35%;
    background-color: #222222db;
}


