@charset "utf-8";

/* Second PJ(cotieshop) 공통모듈  CSS - common.css */
/* 상단,메인,하단 공통 */
/************************ 1. 상단영역 ************************/

body {
    background: #f0ede6;
    padding-top: 127px;
    cursor: url(../images/main/cursor-pointer.png), auto;
    /* opacity: 0; */
}
/* 상단 겉박스 */
#header {
    display: block;
    width: 100%;
    /* height: 144rem; */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #f0ede6;
    border-bottom: 1px solid #000;
    transition: .4s;
}
#header:hover {
    background: #f0ede6;
}
/* 상단영역 속박스 */
.header_inner {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    padding: 26px;
    padding-left: 60px;
    gap: 0 3vw;
    transition: .4s;
}
#header.on .header_inner{
    padding: 0;
}
#header.on2{
    transform: translateY(-100%);
    opacity: 0;
}
/* 로고 박스 */
h1#logo {
    position: relative;
    left: -10%;
}
/* 네비게이션 겉박스 */
#gnb {
    position: relative;
    right: -3%;
}
/* 네비게이션 속박스 */
.top-menu {
    display: flex;
    position: relative;
    right: -28%;
}

/* 네비게이션 메뉴 li */
.top-menu > li {
    position: relative;
    padding: 0 20px;
}

/* 상위 메뉴 마우스 오버시 가상요소 만들기 */
.top-menu > li:nth-child(1):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000; /* 까만색 점 색상 */
    border-radius: 50%;
    top: -10%;
    left: 64px;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    opacity: 0; /* 처음에는 보이지 않게 설정 */
    transition: opacity 0.4s; /* 트랜지션 효과를 적용 */
}
.top-menu > li:nth-child(2):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000; /* 까만색 점 색상 */
    border-radius: 50%;
    top: -10%;
    left: 65px;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    opacity: 0; /* 처음에는 보이지 않게 설정 */
    transition: opacity 0.4s; /* 트랜지션 효과를 적용 */
}
.top-menu > li:nth-child(3):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000; /* 까만색 점 색상 */
    border-radius: 50%;
    top: -10%;
    left: 64px;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    opacity: 0; /* 처음에는 보이지 않게 설정 */
    transition: opacity 0.4s; /* 트랜지션 효과를 적용 */
}
.top-menu > li:nth-child(4):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000; /* 까만색 점 색상 */
    border-radius: 50%;
    top: -10%;
    left: 72px;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    opacity: 0; /* 처음에는 보이지 않게 설정 */
    transition: opacity 0.4s; /* 트랜지션 효과를 적용 */
}
.top-menu > li:nth-child(5):before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000; /* 까만색 점 색상 */
    border-radius: 50%;
    top: -10%;
    left: 59px;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    opacity: 0; /* 처음에는 보이지 않게 설정 */
    transition: opacity 0.4s ease-in-out; /* 트랜지션 효과를 적용 */
}
/* 마우스 오버시 메뉴위에 까만점 보이기 */
.top-menu > li:hover::before {
    opacity: 1;
}

.top-menu > li > a {
    /* position: relative; */
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Lora", serif;
}

/* 기타메뉴 박스 */
.etc-menu {
    display: flex;
    position: relative;
    right: -15%;
    gap: 0 29px;
}
.etc-menu .search {
    position: relative;
    top: 6px;
    right: -10px;
}

.etc-menu a {
    font-size: 1.7rem;
    font-weight: bold;
    font-family: "Lora", serif;
}
/* 기타메뉴 돋보기 아이콘 */
.fa-magnifying-glass {
    position: relative;
    top: -5px;
    width: 15px;
    height: 15px;
}

.buy-shop {
    white-space: nowrap;
}

/* 장바구니 아이콘 */
.basket {
    position: relative;
    right: 22px;
    font-size: 1.5rem;
}

/* 가상요소로 밑줄만들기 - 공통클래스로 독립 */
.buy-shop>.line-ani > li > a::after {
    content: "";
    display: block;

    /* 변경요소 */
    width: 0%;
    margin-left: 100%;

    /* 글자와의 간격 */
    margin-top: 6px;

    height: 5px;
    border-radius: 5px;
    background-color: #000;

    /* 트랜지션 */
    transition: all 0.3s;
}
/* 상위메뉴 li에 오버시 밑줄 */
.line-ani > li:hover a::after {
    width: 100%;
    margin-left: 0%;
    /* 트랜지션 : 오버시엔 왼쪽 마진값은 무애니! (애니를 하지 말아라!) */
    transition: width 0.3s;
}
/* 서브메뉴 박스 */
.smenu {
    width: 10vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;

    display: none;
    z-index: 99999;
}
.smenu ul{
    background: #000;
    /* border-radius: 10px; */
}

/* 상위메뉴 li 마우스 오버시 하위 메뉴 */
.top-menu li:hover .smenu,
    .top-menu .smenu:hover {
        display: block;
    }
    
    .smenu>ul>li {
        /* display: flex; */
        flex-wrap: nowrap;
        width: 100%;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
    }
    /* 서브메뉴 박스 a태그 */
    .smenu>ul>li> a {
        display: inline-block;
        /* position: relative; */
        /* width: 100%; */
        height: 100%;
        font-size: 1.2rem;
        font-family: "Noto Sans KR", sans-serif;
        font-weight: bold;
        color: #fff;
        left: 0;
    }
    
    .sub-menu > span {
    text-align: center;
}

/******************* 서브메뉴 마우스 오버시 *******************/
/* 가상요소로 밑줄만들기 - 공통클래스로 독립 */
.line-ani > li> a::after {
    content: "";
    display: block;

    /* 변경요소 */
    width: 0%;
    margin-left: 100%;

    /* 글자와의 간격 */
    margin-top: 4px;

    height: 2px;
    background-color: #fff;
    
    /* 트랜지션 */
    transition: all 0.3s;
}

/* 상위메뉴 li에 오버시 밑줄 */
.line-ani > li:hover a::after {
    width: 100%;
    margin-left: 0%;
    /* 트랜지션 : 오버시엔 왼쪽 마진값은 무애니! (애니를 하지 말아라!) */
    transition: width 0.3s;
}




/************************ 3. 하단영역 ************************/
/* 하단영역 svg 이미지 */
#footer-move{
    width: 100%;
    position: relative;
    top: 4px;
    /* 애니메이션 실행 */
    animation: moveUpDown .9s ease-in-out infinite alternate;
}
.footer-move{
    position: relative;
}

#footer {
    width: 100%;
    height: 50vh;
    position: relative;
    background-color: #000;
}
.footer-inbox {
    max-width: 1600px;
    height: 100%;
    margin: 0 auto;
    /* 부모자격 */
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-nav {
    position: absolute;
    top: 0;
    left: 2%;
    padding: 10px;
}
/* 밑줄 가상요소 */
.footer-nav > ul > li > a::after {
    content: "";
    display: block;

    /* 변경요소 */
    width: 0%;
    margin-left: 100%;

    /* 글자와의 간격 */
    margin-top: 6px;

    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.footer-nav > ul > li:hover a::after {
    width: 100%;
    margin-left: 0%;
    /* 트랜지션 : 오버시엔 왼쪽 마진값은 무애니! (애니를 하지 말아라!) */
    transition: width 0.4s;
}
/* sns 박스 */
.sns-bx {
    width: 300px;
    position: absolute;
    right: 15%;
    top: 15%;
}
.sns-bx > ul {
    display: flex;
    position: absolute;
    gap: 10%;
}
.sns-bx > ul > li {
    padding: 10px;
}
.sns-bx > ul > li > a {
    font-size: 1.4vw;
    color: #fff;
    font-family: "Lora", serif;
    font-weight: bold;
}
/* 밑줄 가상요소 */
.sns-bx > ul > li > a::after {
    content: "";
    display: block;
    
    /* 변경요소 */
    width: 0%;
    margin-left: 100%;
    
    /* 글자와의 간격 */
    margin-top: 6px;
    
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.sns-bx > ul > li:nth-of-type(3) > a::after {
    background-color: yellow;
}
.sns-bx > ul > li:hover a::after {
    width: 100%;
    margin-left: 0%;
    /* 트랜지션 : 오버시엔 왼쪽 마진값은 무애니! (애니를 하지 말아라!) */
    transition: width 0.4s;
}

.footer-nav > ul > li {
    padding: 9px;
}
.footer-nav > ul > li > a {
    font-size: 4vw;
    color: #fff;
    font-family: "Lora", serif;
    font-weight: bold;
}

.footer-info {
    position: relative;
    left: -14%;
    top: 62%;
}
.footer-info a {
    color: #fff;
    display: block;
}
.footer-info-txt p {
    color: #fff;
}



/* 하단영역 인포박스 가상요소만들기 - 클릭시 정보 보이도록 클릭용 */
.footer-info a::after{
    content: '∨';
    display: block;
    width: 20px;
    height: 20px;
    color: #fff;
    position: relative;
    top: -20px;
    left: 11%;
    font-weight: bold;

}

.copy-right-bx {
    color: #fff;
    position: relative;
    left: -60.5%;
    top: 91%;
}

/* 하단영역 박스 move 이미지 애니메이션 */
@keyframes moveUpDown {
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(3.2vh); /* 움직일 거리를 조절 */
    }
  }