@charset "utf-8";

/* Second PJ(cotieshop) 공통핵심 CSS - core.css */
/* 웹폰트, 공용클래스 */

/* 구글 웹폰트 링크 */


@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans+KR&display=swap');

/* 
    font-family: 'Lora', serif;
font-family: 'Noto Sans KR', sans-serif;

*/
/************************ 1. 상단영역 ************************/
html,
body {
    /* background: #ccc7bb; */
    background: #F0EDE6;
}
/* 상단 겉박스 */
#header {
    width: 100%;
    height: 144rem;
    position: fixed;
    top: 0;
    left: 0;
}
/* 상단영역 속박스 */
.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 26px;
    padding-left: 60px;
    gap: 0 357px;
}
/* 로고 박스 */
h1#logo {
    position: relative;
    left: -5px;
}

#nav{
    position: relative;
    right: -243px;
}
/* 네비게이션 박스 */
.top-menu {
    display: flex;
}

/* 네비게이션 메뉴 li */
.top-menu li{
    position: relative;
    padding: 0 20px;
}

.top-menu>li>a{
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Lora', serif;

}
/* 기타메뉴 박스 */
.etc-menu {
    display: flex;
    position: relative;
    right: 18px;
    right: -30px;
    gap: 0 29px;

}
.etc-menu .search{
    position: relative;
    top: 6px;
    right: -10px;
}

.etc-menu a {
    font-size: 1.5rem;
    font-weight: bold;
    /* font-family: 'Lora', serif; */
}
/* 기타메뉴 돋보기 아이콘 */
.fa-magnifying-glass{
    width: 10px;
    height: 10px;
}

.buy-shop {
    white-space: nowrap;
}

.buy-shop::after{
    content: '👜';
    display: block;
    width: 10px;
    height: 10px;
    color: #fff;
    position: relative;
    right: -111px;
    top: -25px;
}

/* 장바구니 아이콘 */
/* .basket {
    position: relative;
    right: 22px;
    font-size: 1.5rem;
} */

/************************ 3. 하단영역 ************************/
