@charset "utf-8";

/* Second PJ(cotieshop) 메인페이지 CSS - main.css */

/* 공통 외부 css */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 메인비주얼 영역 */
#main-visual-wrap{
    /* position: relative;
    height: 100vh;
    top: 0; */
    position: relative;
    width: 100%;
}


.main-visual{
    max-width: 45vw;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
}
/* 메인비주얼 텍스트 랩핑박스 */
.main-visual-txt {
    position: absolute;
    top: -27%;
    left: -33%;
    transform: translate(-50%,-50%);
    z-index: 99;
}
/* 메인비주얼 h2 텍스트1 */
h2.main-visual-title {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 2%;
    left: 0;
    font-size: 7vw;
    font-family: 'Lora', serif;
}
/* 메인비주얼 h2 텍스트2 */
h2.main-visual-title2 {
    width: 75vw;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 0;
    font-size: 7vw;
    font-family: 'Lora', serif;
}
/* 메인 페이지 비주얼 이미지 gif */
.main-visual img{
    display: block;
    width: 100%;
    position: relative;
    top: 22%;
}
.main-visual-txt2 h3{
    width: 80%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1;
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 컨텐츠 a태그 버튼 */

.ab-btn-bx{
    width: 80%;
    margin: 0 auto;
}
/* .ab-btn-bx:after{
    content: '';
    display: block;
    position: relative;
    width: 80%;
    background-image: url(../../03.구현코드/images/button-basic-stroke.svg);
} */
.ab-btn-bx>a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
}

.ab-btn-bx a:hover{
    cursor: url(../images/main/cursor-hand.png);
}
    

.free-items{
    position: absolute;
    top: 217px;
    left: 0;
    width: 100%;
    height: calc(100vh - 217px);
}

/* 메인페이지 레이어 이미지 박스 */
.layer-img-bx{
    width:7.5vw;
    position: absolute;
    /* z-index: 9999; */
}

.layer-img-bx>img {
    width: 6.8vw;
}

.main-layer1{
    top: -23%;
    left: 25%;

    transform: rotate(0deg);
}
/* 마우스 오버시 레이어 이미지 돌리기 */
.main-layer1:hover{
    transform: rotate(30deg);
    transition: .1s;
}
.main-layer2{
    top: 50%;
    left: 10%;
    transform: rotate(0deg);
}
/* 마우스 오버시 레이어 이미지 돌리기 */
.main-layer2:hover{
    transform: rotate(90deg);
    transition: .1s;
}
.main-layer3{
    top: 360px;
    right: 5vw;
    transform: rotate(0deg);
    z-index: 99;
}
/* 마우스 오버시 레이어 이미지 돌리기 */
.main-layer3:hover{
    transform: rotate(30deg);
    transition: .1s;
}

/* 브랜드 컨텐츠 랩박스스 */
#brands-wrap{
    padding-top: 200px;
}

/* 브랜드컨텐츠 섹션 박스 h2 */
section.title h2{
    width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 70px;
    font-size: 6.4rem;
    font-weight: bold;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

/* 컨텐츠 박스 1 - 펫소시크 */
.petsochic{
    width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 브랜드 텍스트 랩박스 */
.brands-text{
    margin: 0 auto;
}

/* 브랜드 이미지svg 박스 */
.text-img {
    text-align: center;
    width: 100%;
}
/* 브랜드 이미지 svg */
.text-img img {
    width: 100%;
}

.p-text {
    margin: 55px 0;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

/* 컨텐츠 브랜드 동영상 위에 레이어 이미지 박스 */
.vid-free-items {
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
}

.vid-layer1 {
    left: 59%;
    top: 20%;
    position: absolute;
    width: 7vw;
}
.vid-layer2 {
    left: 46%;
    top: 4%;
    position: absolute;
}
.vid-layer2 img {
    width: 5vw;
}

.vid-layer3 {
    position: absolute;
    left: 42.2%;
    top: 40.6%;
    width: 14vw;
}

.vid-layer3 img {
    width: 14vw;
}

.vid-layer4 {
    position: absolute;
    left: 7%;
    top: 100%;
    width: 3.8vw;
}

.vid-layer4 img {
    width: 3.8vw;
}
.vid-layer5 {
    position: absolute;
    right: 19%;
    bottom: -280%;
}

.vid-layer5 img {
    width: 5vw;
}



/* 브랜드 동영상 영역 */
#main-brands-vid {
    margin-top: 100px;
}

.main-brands-vid {
    /* 내부박스 높이 설정 */
    height: 1000px;
    position: relative;
    left: -5.6%;
    margin-top: 100px;
}


/* 브랜드 동영상 아이프레임 크기설정 */
.main-brands-vid iframe{
    width: 80vw;
    height: 800px;
    position: absolute;
    left: 50px;
    top: 0;
}
