@charset "utf-8";

/* Second PJ(cotieshop) 메인페이지 CSS - main.css */

/* 공통 외부 css */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 메인비주얼 영역 */
#main-visual-wrap{
    /* position: relative;
    height: 100vh;
    top: 0; */
    position: relative;
    width: 100%;
}

.main-visual{
    max-width: 45vw;
    position: relative;
    margin: 0px auto;
}

h2.main-visual-title {
    text-align: center;
    /* font-size: min(10vw,95px); */
    /* font-size: min(20vw,20px); */
    white-space: nowrap;
    position: relative;
    left: -93px;
    top: 100px;
    font-size: 127px;
    font-family: 'Lora', serif;
    z-index: 10;
}
h2.main-visual-title2 {
    text-align: center;
    /* font-size: min(10vw,95px); */
    /* font-size: min(20vw,20px); */
    white-space: nowrap;
    position: relative;
    left: 1px;
    top: 100px;
    font-size: 127px;
    font-family: 'Lora', serif;
    z-index: 10;
}
/* 메인 페이지 비주얼 이미지 gif */
.main-visual img{
    display: block;
    width: 100%;
    position: relative;
    top:0;
}

.free-items{
    position: absolute;
    top: 217px;
    left: 0;
    width: 100%;
    height: calc(100vh - 217px);
}

/* 메인페이지 레이어 이미지 박스 */
.layer-img-bx{
    width:7.5vw;
    position: absolute;
    /* z-index: 9999; */
}

.main-layer1{
    top: -5px;
    left: 20px;
    transform: rotate(0deg);
}
/* 마우스 오버시 레이어 이미지 돌리기 */
.main-layer1:hover{
    transform: rotate(30deg);
    transition: .1s;
}
.main-layer2{
    top: 50%;
    left: 10%;
    transform: rotate(0deg);
}
/* 마우스 오버시 레이어 이미지 돌리기 */
.main-layer2:hover{
    transform: rotate(90deg);
    transition: .1s;
}
.main-layer3{
    top: 360px;
    right: 5vw;
    transform: rotate(0deg);
    z-index: 99;
}
/* 마우스 오버시 레이어 이미지 돌리기 */
.main-layer3:hover{
    transform: rotate(30deg);
    transition: .1s;
}
