@charset "utf-8";

/* Second PJ(cotieshop) 메인페이지 CSS - main.css */

/* 공통 외부 css */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 메인비주얼 영역 */
#main-visual-wrap{
    position: relative;
    height: 100vh;
    top: 0
    ;
}

.main-visual{
    max-width: 45vw;
    position: relative;
    margin: 0px auto;
}

h2.main-visual-title {
    text-align: center;
    /* font-size: min(10vw,95px); */
    /* font-size: min(20vw,20px); */
    white-space: nowrap;
    position: relative;
    left: -48px;
    top: 100px;
    font-size: 127px;
    font-family: 'Lora', serif;
    z-index: 10;
}

.main-visual img{
    display: block;
    width: 100%;
    position: relative;
    top:0;
}