@charset "utf-8";

/* Second PJ(cotieshop) 서브4(ABOUT US) CSS - sub4_aboutus.css */

/* 공통 외부 css */
@import url(./reset.css);
/* 상단, 하단영역 공통 css */
@import url(./core.css);

@import url(./common.css);

/*********************************************** 2. 꼬띠샵 소개 ***********************************************/
.abu-inbox {
    max-width: 1650px;
    margin: 0 auto;
}

.abu-title-bx {
    text-align: center;
}
