@charset "utf-8";

/* Second PJ(cotieshop) 서브4(ABOUT US) CSS - sub4_aboutus.css */

/* 공통 외부 css */
@import url(./reset.css);
/* 상단, 하단영역 공통 css */
@import url(./core.css);

@import url(./common.css);

/*********************************************** 2. 꼬띠샵 소개 영역 ***********************************************/
.abu-inbox {
    max-width: 1650px;
    margin: 0 auto;
}

.abu-title-bx {
    text-align: center;
}
.abu-title-bx h1 {
    font-size: 6.6rem;
    font-weight: bold;
    font-family: 'Lora', serif;
    padding: 33px 0;
}
/* about us 메인 비주얼 컨텐츠 플렉스박스 공통 */
.flex-cont-bx {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 95px;

    margin-bottom: 50px;
}

/* 3. 꼬띠샵 추구 가치 소개 영역 */
.cont-bx2-inbox {
    max-width: 1200px;
    margin: 0 auto;
}

.cont2-img-bx {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont2-txt-bx {
    text-align: center;
}
.txt-bx h3 {
    font-size: 1.3rem;
    line-height: 1.4;
    padding-bottom: 30px;
}
.txt-bx p {
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: bold;
}

.cont-bx2-inbox {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    box-sizing: border-box;
}
.cont2-txt-bx h1 {
    font-size: 2rem;
    line-height: 1.5;
    padding: 15px 0;
}

/* 4. 꼬띠샵 슬로건 이미지 영역 */

/* 5. 꼬띠샵 마스코트 소개영역 */

/* 6. 위치 안내 영역 */
