@charset "utf-8";

/* Second PJ(cotieshop) 서브4(ABOUT US) CSS - sub4_aboutus.css */

/* 공통 외부 css */
@import url(./reset.css);
/* 상단, 하단영역 공통 css */
@import url(./core.css);

@import url(./common.css);

/*********************************************** 2. 꼬띠샵 소개 영역 ***********************************************/
/* 소개 속박스 */
.abu-inbox {
    max-width: 1650px;
    margin: 0 auto;
    height: 2000px;
}
/* 소개 타이틀 박스 */
.abu-title-bx {
    text-align: center;
}
/* 소개 타이틀 박스 h1태그 */
.abu-title-bx h1 {
    font-size: 6.6rem;
    font-weight: bold;
    font-family: 'Lora', serif;
    padding: 33px 0;
}
/* about us 메인 비주얼 컨텐츠 플렉스박스 공통 */
.flex-cont-bx {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    margin-bottom: 50px;
}

/* 패턴 레이어이미지 박스1 */
.layer-img1 {
    position: relative;
    right: 32%;
    top: 211px;
}

/* 텍스트 박스 h3 */
.txt-bx h3 {
    font-size: 1.6rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    line-height: 1.4;
    padding-bottom: 30px;
}
/* 텍스트 박스 p */
.txt-bx p {
    font-size: 1.1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    line-height: 1.6;
    font-weight: bold;
}

/* 타이틀 이미지 박스1 위치 */
.abu-visual-img-bx1 {
    position: relative;
    left: 3%;
}
/* 타이틀 이미지박스2 위치 */
.abu-visual-img-bx2 {
    position: relative;
    right: 11%;
    bottom: 113px;
}
/* 타이틀 텍스트2 박스 위치 */
.abu-txt2 {
    position: relative;
    right: 7.3%;
}

/* 패턴 레이어 이미지박스 2 */
.layer-img2 {
    width: 96px;
    position: relative;
    left: 65%;
    bottom: 713px;
}
/* 패턴 레이어 이미지박스 3 */
.layer-img3 {
    width: 117px;
    position: relative;
    left: 82.6%;
    bottom: 659px;
}
/* 패턴 레이어 이미지박스 4 */
.layer-img4 {
    width: 107px;
    position: relative;
    left: 93%;
    bottom: 300px;
}

/******************************** 3. 꼬띠샵 추구 가치 소개 영역 ********************************/
.cont-bx2-inbox {
    max-width: 1200px;
    margin: 0 auto;
}

.cont2-img-bx {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont2-txt-bx {
    text-align: center;
}

.cont-bx2-inbox {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 130px;
    box-sizing: border-box;
}
.cont2-txt-bx h1 {
    font-size: 2rem;
    line-height: 1.5;
    padding: 42px 0;
}
.cont2-txt-bx p {
    font-size: 1.1rem;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-weight: bold;
    box-sizing: border-box;
    padding-bottom: 75px;
}

/****************************** 4. 꼬띠샵 슬로건 이미지 영역 ******************************/
/* 속박스 */
.psc-title-inbox {
    max-width: 1650px;
    margin: 0 auto;
    margin-bottom: 100px;
}
/* 슬로건 박스 타이틀 h1 */
.psc-title-inbox h1 {
    text-align: center;
    font-size: 7.3rem;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 75px;
    padding-bottom: 60px;
}
/* 슬로건 이미지 박스 가운데 정렬 */
.psc-title-img-bx {
    display: flex;
    align-items: center;
    justify-content: center;
}


/**************************************** 5. 꼬띠샵 마스코트 소개영역 ****************************************/
/* 전체싸는 속박스 */
.abu-who-inbox {
    max-width: 1650px;
    margin: 0 auto;
}
/* 레이어 이미지 박스 가운데 정렬 */
.about-section__title figure {
    text-align: center;
    padding-top: 100px;
}
.about-section__title h2 {
    text-align: center;
    font-size: 6.1rem;
    font-weight: bold;
    padding-bottom: 40px;
}
/* 프로필 b태그 */
.about-who__profile b {
    text-align: center;
    display: block;
    font-size: 2.2rem;
    /* padding: 10px 0; */
    padding-top: 33px;
    padding-bottom: 20px;
}

/**************************************** 6. 위치 안내 영역 ****************************************/
