/* 상품 리스트 서브페이지 css - outdoor.css */

/* 공통 외부 css */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 2. 아이템 리스트 박스  */

.item-list-inbox {
    max-width: 1550px;
    margin: 0 auto;
}

.list-title-bx {
    padding-top: 20px;
    text-align: center;
}

.list-title-bx h2 {
    font-size: 7rem;
    font-weight: bold;
    font-family: 'Lora', serif;
}

.item-cat-bx {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0;
    position: relative;
    left: 12%;
}

.item-cat-bx>ul.flex-bx1 {
    display: flex;
    gap: 30px;

}

/******************************************* 3. 아이템 리스트 박스 - 그리드 *******************************************/
 /* 그리드 박스 */
 .grid-bx {
    display: grid; /* dg */

    /* 박스중앙최대크기 지정 */
    max-width: 1600px;
    margin: 0 auto;

    /* outline: 2px dashed lightcoral; */

    /********************************************** 
    [ 가로 그리드 템플릿 ]
    grid-template-columns (gtc)
**********************************************/
    /* 1. 가로사이즈 단위를 띄어쓰기로 나열하면 개수만큼 그 크기의 세로컬럼이
생성됨! 
grid-template-columns: 100px 200px 300px 400px;
*/

    /* 2. fr단위로 가로전체를 기준하여 비율을 설정한 컬럼이 생성됨
fraction(부분) 
grid-template-columns: 1fr 3fr 5fr 2fr;*/

    /* 3. repeat(수치의 반복수,반복수치) 
-> 반복수*반복수치개수가 컬럼수가 된다!
단순하게 사용할 경우 repeat(컬럼수,1fr)
grid-template-columns: repeat(3,100px 1fr 2fr); */
    grid-template-columns: repeat(3, 1fr);

    /********************************************** 
    [ 세로 그리드 템플릿 ]
    grid-template-rows (gtr)
**********************************************/
    /* 1. 구체적인 수치를 나열하면 나열한 개수만큼만
그 수치로 셋팅됨! 나머지는 auto임!
grid-template-rows: 100px 200px 300px; */

    /* 2. fr단위를 써서 나열하면 비를 쓴만큼 높이값 전체에서의 비로 셋팅됨  
grid-template-rows: 1fr 3fr 5fr 2fr;*/

    /* 3. repeat(수치의 반복,반복수치) 
-> column과 유사
grid-template-rows: repeat(4,300px); */

    /* 4. 모든 높이값 동일하게 셋팅하기 
grid-auto-rows: 400px;*/

    /********************************************** 
    [ 수평방향 간격 ]
    grid-column-gap (gcg)
**********************************************/
    grid-column-gap: min(1vw, 10px);
    /********************************************** 
    [ 수직방향 간격 ]
    grid-row-gap (grg)
**********************************************/
    grid-row-gap: min(1.5vw, 15px);
}

   /* 이미지 셋팅 */
   .grid-bx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;

    /* 박스 이미지 하단 공백제거위한 셋팅 */
    vertical-align: middle;
}