/* 서브페이지 하위 페이지인 제품 상세 페이지 - sub6_item_detail.css */

/* 공통 외부 css */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/*********************************************** 2. 제품 정보 영역 ***********************************************/

/* 랩박스 크기 설정 및 가운데 정렬 */
.product-wrap {
    width: 1600px;
    margin: 0 auto;
}
/* 이미지 박스 + info 박스 플렉스로 정렬 */
.info-inbox {
    display: flex;
    justify-content: space-around;
}
/* 이미지2 박스 */
.main-img2 {
    position: relative;
    bottom: 5px;
}

/* 제품정보 랩핑박스 */
.pruduct-info-wrap {
    /* 상단영역이랑 거리두기 */
    margin-top: 100px;
}
/* 제품 브랜드 정보 박스 */
.brand-info {
    padding: 22px 0;
}
.brand-info b {
    font-size: 1.8rem;
    font-family: 'Lora', serif;
}
/* 해쉬태그 ul 박스 */
ul.flex-bx1 {
    display: flex;
    gap: 12px;
}
ul.flex-bx1 > li {
    padding: 15px 0;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(156, 154, 154);
}

.product-info-inner h1 {
    font-size: 2.3rem;
    font-weight: bold;
    padding-bottom: 30px;
}

p.product-information__price em {
    font-size: 2.1rem;
    font-weight: bold;
    font-family: "Noto Sans KR", sans-serif;
}

p.product-information__price span {
    font-size: 2rem;
    font-family: "Noto Sans KR", sans-serif;
}

.go-buy-bx {
    display: flex;
    justify-content: flex-start;
    gap: 400px;
    padding: 50px 0;
    cursor: url(../images/main/cursorhand1.png),auto;
}
.go-buy-bx>a {
    display: block;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: url(../images/main/cursorhand1.png),auto;
}
.go-buy-bx>a:nth-of-type(1) {
    border: 2px solid #000;
    border-radius: 52%;
    background-color: #000;
    padding-left: 34px;
    padding-right: 29px;
}

/* 공유하기 버튼 안보이게 */
.share-bx>a{
    cursor: url(../images/main/cursorhand1.png),auto;
}
.share-bx>a>span {
    display: none;
}

.share-bx>a>img{
    width: 65px;
    height: 65px;
}

.product-info-illust {
    width: 160px;
    height: 60px;
}

/* 애니메이션을 요소에 적용하고 무한 반복 */
.product-info-illust .grass-img-bx img {
    animation: moveUp 0.8s ease alternate infinite;
}

/* 애니메이션을 정의 - 위아래 이동 애니 */
@keyframes moveUp {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-16px);
    }
}

p.info-desc {
    font-size: 1.1rem;
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.9;
    padding: 40px 0;
}

.info-add-bx1 {
    border-top: 3px solid #000;
    border-bottom: 3px solid;
}

.info-add-ibox1 {
    padding: 31px 0;
}

.info-add-ibox1 b {
    font-size: 1.8rem;
    font-family: 'Lora', serif;
}

.info-add-inner b {
    font-size: 1.2rem;
    font-weight: bold;
}
.inner-style-bx li>p::before{
    content: "•"; /* 가상 요소에 까만 점 문자 콘텐츠 추가 */
    color: gray; /* 까만 점 색상 */
    margin-right: 5px; /* 점과 텍스트 사이 간격 조절 */
}

.info-add-inner>ul>li:nth-of-type(1) {
    padding: 22px 0;
}   
.info-add-inner p {
    font-size: 1rem;
    color: gray;
    font-weight: bold;
}
ul.inner-style-bx li {
    padding: 15px 0;
}

.info-add-ibox2 b {
    font-size: 1.7rem;
    font-family: 'Lora', serif;
}


.info-add-ibox2 {
    border-top: 3px solid;
    padding: 25px 0;
}

.info-add-inner2 {
    padding: 20px 0;
}
.info-add-inner2 b {
    font-size: 1.2rem;
    font-weight: bold;
    display: block;
    padding: 9px 0;
}
.info-add-inner2>ul>li {
    padding: 25px 0;
}

li.padding-bx {
    padding: 5px 0;
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}
.padding-bx>p::before{
    content: "•"; /* 가상 요소에 까만 점 문자 콘텐츠 추가 */
    color: gray; /* 까만 점 색상 */
    margin-right: 5px; /* 점과 텍스트 사이 간격 조절 */
}