/* sub7_cotielog 페이지 CSS */

@import url(./core.css);
@import url(./common.css);
@import url(./reset.css);

/************************************* 2. cotielog-content 영역 *************************************/

/* cotielog 메인 컨테이너 박스 */
div#cotielog-maincontainer {
    padding-top: 200px;
}
/* cotielog 내부랩핑 박스 */
.cotielog-inner {
    max-width: 1650px;
    height: 1000px;
    margin: 0 auto;
    display: flex;
}
.cotielog-cat-bx{
    display: inline-block;
}
.cotielog-cat-bx h1 {
    width: 800px;
    font-size: 5.8rem;
    font-family: 'Lora', serif;
}
ul.dogsleep-img-bx {
    /* display: flex; */
    position: relative;
    top: 90px;
    right: 40%;
}
/* 고정박스 */
.cotielog-cat-bx {
    width: 825px;
    height: 1000px;
    /* 스티키 고정 */
    position: sticky;
    top: 50px;
}

.scrollable-content {
    flex: 1;
    overflow-y: auto; /* 수직 스크롤이 필요한 경우 스크롤바를 표시 */
    height: 400px; /* 스크롤 가능한 내용의 높이를 설정 */
    /* 다른 스타일 설정 */
  }
ul.category-box {
    display: flex;
    gap: 20px;
}

/* cotielog 뉴스 랩핑 박스 */
.news-wrap {
    width: 850px;
    display: inline-block;
    /* position: relative;
    left: 50%; */
}